
<div class="center hero-unit" id="about-icon">
    <p id="about">Brought to you by</p>
    <ul class="ch-grid">
		<li>
			<div class="ch-item">               
                <div class="ch-info">
                    <div class="ch-info-front ch-img-1"></div>
                    <div class="ch-info-back">
                        <h3><a href="http://www.ics.uci.edu/~dhegab" target="_blank">Dahlia Hegab</a></h3>
                    </div>  
                </div>
            </div>
		</li>
		<li>
			<div class="ch-item">               
                <div class="ch-info">
                    <div class="ch-info-front ch-img-2"></div>
                    <div class="ch-info-back">
                        <h3><a href="https://twitter.com/MatterOfFact" target="_blank">Matthew Chan</a></h3>
                    </div>  
                </div>
            </div>
		</li>
	</ul>
</div>