<div id="admissions" class="hero-unit">
	<div class="mc_parent_ad">
		<div class="opaque-bkg_ad"></div>
		<div class="opaque-foreground_ad">
		    <div class="left-justified">
			    <h1>Admissions Process</h1>
    			<p>The graduate admissions process is similar for most schools, but you should still check as a precaution, especially for application deadlines which range anywhere between early December to early January. The key components of your application are:</p>
    			<ul class="list-of-jobs">
    			    <li>GRE scores</li>
    			    <li>TOEFL (for Int'l Students)</li>
    			    <li>Letters of Recommendation (3)</li>
    			    <li>Transcripts</li>
    			    <li>Statement of Purpose</li>
    			    <li>Resume (optional)</li>
    			</ul>
    			
    			<h2>Other Deciding Factors</h2>
    			<ul class="list-of-jobs">
    			    <li>Your Undergraduate University</li>
    			    <li>Research &amp; Publications</li>
    			    <li>Prior Work Experience</li>
    			    <li>Interview</li>
    			</ul>
                
<!--                </br>
                <h2>Masters in Science/Engineering</h2>
                <p>Welcome to the hub of the best <span class="hci">Human-Computer Interaction</span> (HCI) resources! We showcase the best schools in the US that are doing amazing, life-changing research and projects! This is the place for those who want to pursue a path in HCI, but don't know what academic programs exist or their specialties!  </p>
                
                <h2>PhD</h2>
                <p>Welcome to the hub of the best <span class="hci">Human-Computer Interaction</span> (HCI) resources! We showcase the best schools in the US that are doing amazing, life-changing research and projects! This is the place for those who want to pursue a path in HCI, but don't know what academic programs exist or their specialties!  </p> -->
    			
			</div>
		</div> <!-- end of opaque-foreground -->
	</div> <!-- end of mc_parent -->
</div> <!-- end of center/hero-unit -->