<div id="industry" class="center hero-unit">
	<div class="mc_parent_ind">
		<div class="opaque-bkg_ind"></div>
		<div class="opaque-foreground_ind" style="width:100%;">
		    <div>
			    <h1>Industry</h1>
    			<p>What careers are suitable for people with HCI backgrounds?  See what you might like below:</p>
    			<ul class="list-of-jobs">
    			    <li>User Interface Designer/Engineer</li>
    			    <li>Interaction Designer</li>
    			    <li>User Experience Researcher</li>
    			    <li>Product Manager/Designer</li>
    			    <li>Usability Engineer</li>
    			    <li>Front-End Engineer</li>
    			    <li>Information Architect</li>
    			    <li>Web/Graphic Designer</li>
    			</ul>
    			
                <!-- <h2>...and the best places for HCI?</h2>
                <ul class="list-of-places">
                    <li>User Interface Designer/Engineer</li>
                    <li>Interaction Designer</li>
                    <li>User Experience Researcher</li>
                    <li>Product Manager/Designer</li>
                    <li>Usability Engineer</li>
                    <li>Front-End Engineer</li>
                    <li>Information Architect</li>
                    <li>Web/Graphic Designer</li>
                </ul> -->
			    
    			
			</div>
		</div> <!-- end of opaque-foreground -->
	</div> <!-- end of mc_parent -->
</div> <!-- end of center/hero-unit -->