<div class="center hero-unit">
	<div class="mc_parent">
		<div class="opaque-bkg"></div>
		<div class="opaque-foreground">
			
			<div class="mb-wrap mb-style-3">
				<blockquote cite="http://www.gutenberg.org/ebooks/1260">
					<p>If you don't know where you are going, any road will get you there.</p>
				</blockquote>
				<div class="mb-attribution">
					<p class="mb-author">Lewis Carroll</p>
					<cite><a href="http://www.gutenberg.org/ebooks/1260">Alice in Wonderland</a></cite>
					<div class="mb-thumb"></div>
				</div>
			</div>
			<h1 class="left-justified"> Fancy Me HCI</h1>
			<p class="left-justified">Welcome to the hub of the best <span class="hci">Human-Computer Interaction</span> (HCI) resources! We showcase the best schools in the US that are doing amazing, life-changing research and projects! This is the place for those who want to pursue a path in HCI, but don't know what academic programs exist or their specialties!  </p>
		</div> <!-- end of opaque-foreground -->
	</div> <!-- end of mc_parent -->
</div> <!-- end of center/hero-unit -->

<div class="center hero-unit">
	<p>Brought to you by</p>
	<div class="ch-item">				
		<div class="ch-info">
			<div class="ch-info-front ch-img-1"></div>
			<div class="ch-info-back">
				<h3><a href="http://www.ics.uci.edu/~dhegab">Dahlia Hegab</a></h3>
				<p> </p>
			</div>	
		</div>
	</div>
</div>
