<div class="center hero-unit">
	<div class="mc_parent">
		<div class="opaque-bkg"></div>
		<div class="opaque-foreground">
			<h1>FancyMeHCI</h1>
			<h2>
				The future home page for all <span class="hci">Human-Computer Interaction</span> programs in the US
			</h2>
			<p>Brought to you by <a href="http://www.ics.uci.edu/~dhegab">Dahlia Hegab</a></p>
		</div>
	</div>
	<%#= link_to "GIVE US FUNDING", '#', class: "btn btn-large btn-primary" %>
</div>
	
	<%# <img alt="Rails" src="/assets/rails.png" /> %>