@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 120px;
  background-image: image-url("fmh_bkg0.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #FF00FF;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* Custom edits */
/*
.hero-unit {
  -khtml-opacity:.85; 
 -moz-opacity:.85; 
 -ms-filter:”alpha(opacity=85)”;
  filter:alpha(opacity=85);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);
  opacity:.85;
} */

.hero-unit {
	background-color: transparent;
	background-color: rgba(238, 238, 238, 0.8);
}
.mc_parent {
	position:relative; height:300px;
}
.opaque-bkg {
	position:absolute; width:940; height:435px; z-index:2;
	-khtml-opacity:.85; 
 	-moz-opacity:.85; 
	 -ms-filter:”alpha(opacity=85)”;
	  filter:alpha(opacity=85);
	  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.85);
	  opacity:.9;
	background-color: rgba(238, 238, 238, 0.9);
}

.opaque-foreground {
	position:absolute; width:940; height:435px; z-index:1;
}

.hci {
	color: #FF00FF;
}

